<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">HackCoders es un grupo de informáticos, que se dedica al hacking de sombrero blanco nos dedicamos a encontrar vulnerabilidades
en paginas web y hacer un reporte de fallas y de igual manera como mejorar la seguridad. Dedicados a la seguridad de su aplicación o sitio también nos dedicamos a hacer herramientas privadas para la busqueda y escaneo de sites asi como de apps... </h3>
                </div>
            </div>
            <div class="row">
                </div>
            </div>
        </div>
    </section>
